# Übung 1.1: Analyse einer Buchdatenbank

In dieser Übung wird die Analyse eines Datensatz von Buchdaten behandelt (https://www.kaggle.com/datasets/jealousleopard/goodreadsbooks). Dieser ist in der Datei "books.csv" gespeichert. Bitte nutzen Sie die Methode "read_csv" von Pandas, um den Datensatz einzulesen. Funktioniert dies direkt? Falls nicht, wie könnte der Datensatz trotzdem geladen werden?

In [3]:
import pandas as pd

books = "books.csv"

Jetzt lesen wir die Datei mir `read_csv`

In [5]:
df = pd.read_csv(books, on_bad_lines='warn')

Skipping line 3350: expected 12 fields, saw 13
Skipping line 4704: expected 12 fields, saw 13
Skipping line 5879: expected 12 fields, saw 13
Skipping line 8981: expected 12 fields, saw 13

Haben Sie nun den Datensatz erfolgreich eingelesen, nehmen Sie bitte folgende Analysen vor:

1. Wie viele gültige Bücher sind im Datensatz vorhanden?
2. Welche Daten sind im Datensatz enthalten? Bitte hierzu die Spaltennamen ausgeben.
3. Welche Autoren haben laut der Liste die meisten Bücher veröffentlicht?
4. Wie viele Bücher haben diese veröffentlicht?
5. Welche zehn Publisher haben die meisten Bücher veröffentlicht?
6. Wann hat "Isaac Asimov" welche Bücher herausgebracht?
7. Welche zehn Bücher in der Liste haben die höchste Seitenzahl? Bitte nur Title oder Seitenzahl ausgeben.
8. Welche Bücher von "Isaac Asimov" sind am besten bewertet? Hierzu alle Bücher absteigend nach Bewertung sortieren.
9. Für eine Analyse werden Bücher mit den Worten "Fellowship", "Towers" und "King" im Titel gesucht. Welche kommen hierfür infrage?

In [9]:
pd.options.display.max_colwidth = 75

df.shape, len(df)

((11123, 12), 11123)

In [10]:
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [21]:
df['authors'].value_counts().head(15)

authors
Stephen King                   40
P.G. Wodehouse                 40
Rumiko Takahashi               39
Orson Scott Card               35
Agatha Christie                33
Piers Anthony                  30
Sandra Brown                   29
Mercedes Lackey                29
Dick Francis                   28
Terry Pratchett                23
James Patterson                23
Laurell K. Hamilton            23
Margaret Weis/Tracy Hickman    23
Gordon Korman                  22
Bill Bryson                    21
Name: count, dtype: int64

In [22]:
df['publisher'].value_counts().head(10)

publisher
Vintage             318
Penguin Books       261
Penguin Classics    184
Mariner Books       150
Ballantine Books    144
Harper Perennial    112
HarperCollins       112
Pocket Books        111
Bantam              110
VIZ Media LLC        88
Name: count, dtype: int64

In [24]:
df[df['authors'] == "Isaac Asimov"]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
7678,29579,Foundation (Foundation #1),Isaac Asimov,4.16,0553803719,9780553803716,eng,244,349846,6561,6/1/2004,Bantam
7679,29580,Second Foundation (Foundation #3),Isaac Asimov,4.26,0553803735,9780553803730,eng,256,119224,1708,6/1/2004,Bantam Spectra
7680,29581,Foundation and Empire (Foundation #2),Isaac Asimov,4.22,0553803727,9780553803723,eng,256,126226,2034,6/1/2004,Spectra Books
7681,29582,Foundation and Earth (Foundation #5),Isaac Asimov,4.05,0553587579,9780553587579,eng,500,46112,890,8/31/2004,Spectra
7777,30010,The Complete Stories Vol 1,Isaac Asimov,4.36,038541627X,9780385416276,eng,624,5362,115,10/1/1990,Broadway
10318,41804,I Robot (Robot #0.1),Isaac Asimov,4.19,0553803700,9780553803709,eng,224,238100,4196,6/1/2004,Spectra
10320,41810,The Robots of Dawn (Robot #3),Isaac Asimov,4.16,0553299492,9780553299496,eng,435,31186,866,3/1/1994,Spectra
10321,41814,I. Asimov,Isaac Asimov,4.20,055356997X,9780553569971,eng,578,1729,97,1/1/1995,Bantam
10322,41815,Asimov's New Guide to Science,Isaac Asimov,4.38,0140172130,9780140172133,eng,896,49,1,5/27/1993,Penguin
10323,41820,Pebble in the Sky (Galactic Empire #3),Isaac Asimov,3.88,0553293427,9780553293425,eng,308,14022,452,12/1/1991,Bantam
10324,41821,The Gods Themselves,Isaac Asimov,4.09,1857989341,9781857989342,eng,288,42770,1022,2/10/2000,Millenium
10325,41822,The Stars Like Dust (Galactic Empire #1),Isaac Asimov,3.74,0553293435,9780553293432,eng,304,12547,424,12/1/1991,Spectra
10326,41824,The Currents of Space (Galactic Empire #2),Isaac Asimov,3.83,4490249512,9780449015414,eng,192,37,3,1/1/1952,Fawcett crest
10328,41834,Asimov's Guide to the Bible: The Old Testament,Isaac Asimov,4.07,0380010321,9780380010325,eng,677,237,20,11/1/1971,Avon Books (P)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[11123 rows x 0 columns]

In [32]:
df[['authors', 'title']]

,authors,title
0,J.K. Rowling/Mary GrandPré,Harry Potter and the Half-Blood Prince (Harry Potter #6)
1,J.K. Rowling/Mary GrandPré,Harry Potter and the Order of the Phoenix (Harry Potter #5)
2,J.K. Rowling,Harry Potter and the Chamber of Secrets (Harry Potter #2)
3,J.K. Rowling/Mary GrandPré,Harry Potter and the Prisoner of Azkaban (Harry Potter #3)
4,J.K. Rowling/Mary GrandPré,Harry Potter Boxed Set Books 1-5 (Harry Potter #1-5)
...,...,...
11118,William T. Vollmann/Larry McCaffery/Michael Hemmingson,Expelled from Eden: A William T. Vollmann Reader
11119,William T. Vollmann,You Bright and Risen Angels
11120,William T. Vollmann,The Ice-Shirt (Seven Dreams #1)
11121,William T. Vollmann,Poor People
11122,Mark Twain,Las aventuras de Tom Sawyer